$navigation-color: #5B605F;
$header-color: #4a4a49;
$column-text-color: #4a4a49;
$buttons-color: #FF6600;
$awards-color: #FF6600;
$screen-head-color: #FF6600;
$background-screen-color: #FFFFFA;
$message-info-color: #3498DB;
$message-warning-color: #FFB03B;
$message-success-color: #468966;
$bin-icon-color: #BD4932;
$extended-icon-color: #A1A194;

