.abta {
  &_columns {
    margin-top: 150px;
    margin-bottom: 150px;
    color: #4a4a49;
  }
  &_columns:first-of-type {
    width: 337px;
    height: 337px;
  }
  &_columns:last-of-type {
    width: 688px;

  }
  &_container {
    display: flex;
    justify-content: space-between;
  }
  &_title {
    font-size: 36px;
    padding-bottom: 20px;
  }
  &_text {
    font-size: 20px;
    padding: 10px 0;
    text-align: justify;
  }
  &_list{
    font-size: 20px;
    list-style: disc;

    &_item{
      margin: 15px;
    }
  }
}