.container_widgets_notif {
  display: flex;
}

.app_background_btns {
  display: flex;
  margin: 29px 0 33px 47px;
}

.add_widget {
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  background-color: $background-screen-color;
  border: 1px dotted $message-success-color;
  cursor: pointer;
  width: 198px;
  height: 177px;
  font-family: $text-font;
  color: $message-success-color;
}

.add_widget_text {
  font-size: 20px;
}

.fa-square-plus {
  font-size: 80px;
  color: $message-success-color;
  padding-bottom: 15px;
}

/* Stylizacja okna modalnego */
.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  //overflow: auto;
  //background-color: rgba(0, 0, 0, 0.4);
  color: $column-text-color;

  &_content {
    margin: 29px 47px 33px;
    padding: 0 35px;
    border: 1px dashed $column-text-color;
    background-color: $background-screen-color;
    height: calc(100% - 60px);

    &_action {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $extended-icon-color;
      margin-bottom: 9px;
    }

    &_title {
      font-size: 24px;
      align-self: end;
      color: $awards-color;
      text-transform: uppercase;
    }

    &_btn {
      font-family: $text-font;
      font-size: 20px;
      color: $background-screen-color;
      margin: 21px 0 5px 0;
      padding: 12px 10px;
      background: $buttons-color;
    }
  }

  &_container {
    display: flex;
    justify-content: space-between;
    margin: 0 74px 15px 8px;

    .elements {
      width: 100%;

      &:nth-child(1) {
        margin-right: 35px;
      }

      &_label {
        display: flex;
        align-items: start;
        font-size: 24px;
      }

      .element_btn {
        font-size: 27px;
        padding-left: 4px;
      }

      &_title {
        text-transform: uppercase;
        border-bottom: 2px solid $column-text-color;
        margin-bottom: 10px;
      }
    }
  }

  &_label {
    display: inline-block;
    width: 174px;
    margin-right: 17px;
    font-size: 24px;
  }

  &_input {
    font-family: $text-font;
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    flex: 1;
    border: 1px solid $column-text-color;
    background-color: white;
    color: $column-text-color;
  }
}

//--------------------------------------------style dla tabeli

.elements {

  &_label {
    height: 74px;
    margin-bottom: 43px;
  }
}

.elements_list {
  height: 210px;
  overflow-y: scroll;
  font-size: 16px;

  &::-webkit-scrollbar {
    width: 19px;
  }

  &::-webkit-scrollbar-track {
    background: red;
  }

  &::-webkit-scrollbar-thumb {
    background: silver;
  }
}


.instruction_list {
  counter-reset: instruction-counter;
  list-style-type: none;
  padding-left: 0;

  li {
    counter-increment: instruction-counter;
    margin-bottom: 10px;
    display: flex;

    &:before {
      content: counter(instruction-counter) ".";
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

.ingredient_list {
  li {
    margin-bottom: 10px;

    &:before {
      content: "•";
      font-size: 20px;
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

//--------------------------------------------style dla przycisków
.edit_element_textarea {
  font-family: $text-font;
  color: $column-text-color;
  font-size: 16px;
  width: 100%;
  //height: 100%;
  border: none;
  overflow: hidden;
}
