.cta {
  background: $header-color;
  color: $background-screen-color;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_title {
    width: 783px;
    margin: 47.75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &_text {
      font-size: 32px;
      padding-bottom: 33px;
    }
  }

  &_text {
    font-size: 24px;
  }

  &_button {
    background: $buttons-color;
    color: $background-screen-color;
    padding: 20px 50px;
    font-size: 20px;
  }
}
