.contact{
  background-color: $navigation-color;
  color: $background-screen-color;

  &_container{
    display: flex;
    justify-content: space-between;
  }
  &_columns{
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px;
    width: 350px;
  }
  &_title{
    font-size: 28px;
    padding-bottom: 20px;
  }
  &_text{
    font-size: 20px;
  }
  &_list{
    font-size: 20px;
    line-height: 36px;
  }
  &_input_group{
    display: flex;
  }
  &_email {
    background-color: $background-screen-color;
    padding: 0 20px 0 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &_button {
    background: $buttons-color;
    color: $background-screen-color;
    font-size: 18px;
    padding:  15px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &_icons{
    display: flex;
    justify-content: flex-start;
    width: 230px;
    padding-top: 15px;
    font-size: 33px;
  }
}
.fa-brands{
  padding-right: 30px;
  padding-left: 10px;
}

.footer{
  background-color: $header-color;
  color: $background-screen-color;

  &_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 20px;
    opacity: 0.9;
  }
  &_text{
    color: $buttons-color;
  }
}