
.header {
  background-color: $header-color;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9.5px 0;
  }

  &_title {
    font-family: $logo-font;
    font-size: 43px;
    font-weight: 100;
    color: white;

    span {
      font-weight: 700;
      color: $screen-head-color;
    }
  }

  &_nav {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    text-transform: uppercase;
    color: $background-screen-color;
    font-family: $text-font;
    font-size: 16px;
    font-weight: normal;

    &_element:first-child {
      color: $screen-head-color;
    }
  }
}