.app_icon {
  display: none;
  padding-right: 15px;
}
.app_list_item.active {
  border-left: 4px solid $buttons-color;
}
.app_list_item.active .app_icon {
  display:flex;

}

.form {
  background-color: $background-screen-color;
  margin: 31px 55px;
  border: 1px dashed rgb(161 161 148);
  border-radius: 5px;
  height: calc(100vh - 142px);
  width: calc(100% - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: $text-font;
  font-weight: 500;
  color: $navigation-color;

  &_title {
    font-size: 36px;
  }
  &_text:first-of-type {
    font-size: 24px;
    margin-top: 30px;
  }
  &_text:last-of-type {
    font-size: 20px;
  }
  &_input {
    background-color: #FFFFFF;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    margin: 20px 0 10px 0;
    height: 30px;
    width: 292px;
    padding: 20px;
    text-align: center;
  }
  &_button {
    background-color: $buttons-color;
    font-size: 18px;
    border-radius: 5px;
    color: $background-screen-color;
    padding: 10px 25px;
    font-weight: 600;
    margin: 25px;
  }
}

