.app_icon {
  display: none;
  padding-right: 15px;
}
.app_list_item.active {
  border-left: 4px solid $buttons-color;
}
.app_list_item.active .app_icon {
  display:flex;

}

.form {
  background-color: $background-screen-color;
  margin: 31px 68px 29px 55px;
  border: 1px dashed rgb(161 161 148);
  height: 789px;
  width: 1569px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $text-font;
  font-weight: 500;
  color: $navigation-color;

  &_title {
    margin-top: 60px;
    font-size: 36px;
  }
  &_text:first-of-type {
    font-size: 24px;
    margin-top: 30px;
  }
  &_text:last-of-type {
    font-size: 20px;
    margin-top: 20px;
  }
  &_input {
    background-color: #FFFFFF;
    border: 1px solid rgb(200, 200, 200);
    margin-top: 20px;
    height: 30px;
    width: 292px;
    padding: 0 10px;
  }
  &_button {
    background-color: $buttons-color;
    font-size: 20px;
    color: $background-screen-color;
    padding: 6px 10px;
    font-weight: 600;
    margin-top: 15px;
  }
}

.add_recipe {
  display: none;
  font-size: 45px;
  width: 100px;
  height: 100px;
  background-color: #ff6600;
}
