
.notifications {
  margin: 29px 47px 0 55px;
  width: 100%;

  &_box {
    height: 51px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    font-family: $text-font;
    font-size: 20px;
  }


  .box1 {
    border: 1px dashed $message-info-color;
    margin-bottom: 10px;
    text-align: center;
    color: $message-info-color;
  }

  .box2 {
    border: 1px dashed rgb(255, 176, 59);
    margin-bottom: 10px;
    color: rgb(255, 176, 59);
  }

  .box3 {
    border: 1px dashed $message-success-color;
    color: $message-success-color;
  }

  &_btn {
    padding-right: 20px;
    transform: translateY(-15px);
  }

  .fa-circle-info {
    font-size: 25px;
    padding-right: 10px;
  }

  .fa-circle-exclamation {
    font-size: 25px;
    padding-right: 10px;
  }

  .fa-circle-check {
    font-size: 25px;
    padding-right: 10px;
  }

  .fa-rectangle-xmark {
    font-size: 20px;
  }
}



