
.table_container {
  margin: 0 47px 0 47px;

}

.table_weekPreview {
  width: 100%;
  height: calc(100vh - 350px);
  background-color: $background-screen-color;
  border: 1px dashed $extended-icon-color;


  th {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(161, 161, 148);
  }

  .table_title {
    font-size: 20px;
    color: $screen-head-color;
  }

  .tbody_title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(91, 96, 95);
  }


  td {
    text-align: left;
    font-size: 20px;
    border-bottom: 1px solid rgb(161, 161, 148);
  }

  tr:last-child td {
    border-bottom: none;
  }

  .meals {
    color: rgb(161, 161, 148);
  }

  .working_margin {
    width: 40px;
    border-bottom: none;
    border-top: white;
  }

  .table_btn {
    color: $screen-head-color;
    font-size: 14px;
  }

  .table_btn_right {
    text-align: right;
    padding: 0 25px;
  }

  .table_btn_left {
    text-align: left;
    padding: 0 25px;
  }

  .fa-angles-left {
    border-left: 10px solid white;
    border-right: 5px solid white;
  }

  .fa-angles-right {
    border-right: 10px solid white;
    border-left: 5px solid white;
  }
}
